.gallery {
  & > .header {
    display: flex;
    align-items: flex-end;

    padding-bottom: 40px;

    @media screen and (max-width: 1024px) {
      column-gap: 40px;
    }

    @media screen and (max-width: 786px) {
      padding-bottom: 20px;
      column-gap: 10px;
    }

    & > .selections {
      display: flex;
      column-gap: 25px;

      @media screen and (max-width: 786px) {
        column-gap: 10px;
      }

      width: 100%;

      overflow: hidden;
      overflow-x: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      scroll-behavior: smooth;
      cursor: grab;

      & > .selector {
        align-items: center;

        @media screen and (max-width: 786px) {
          padding: 3px 5px;
          margin: 3px 0;
        }

        & img {
          @media screen and (max-width: 786px) {
            width: 8px;
            height: 8px;
          }
        }

        & p {
          @media screen and (max-width: 786px) {
            font-size: 8px;
            line-height: 10px;
            margin-left: 12px;
          }
        }
      }
    }

    & > .sliderBtns {
      display: flex;
      align-items: center;
      column-gap: 15px;

      @media screen and (max-width: 786px) {
        column-gap: 3px;
        margin: 3px 0;
      }

      & > .btn {
        border: none;
        border-radius: 45px;

        padding: 25px 25px;

        @media screen and (max-width: 786px) {
          padding: 6px 8px;
        }

        & img {
          height: 14px;
          width: 7px;

          @media screen and (max-width: 786px) {
            height: 4px;
            width: 2px;
          }
        }

        & p {
          margin-left: 2px;
        }

        &.prevBtn {
          background: #e6e6e6;
        }
      }

      text-decoration: none;

      & > img {
        display: block;
        width: 14px;
        height: 10px;

        @media screen and (max-width: 786px) {
          width: 4px;
          height: 3px;
        }
      }
    }
  }

  & .wrapper {
    width: 100%;
  }
  & .itemsWrapper {
    width: 100%;
  }
  & .itemsInnerWrapper {
    width: 100%;
  }
  $widthDesktop: calc(100vw - 12vw - 12vw - var(--scrollbar-width, 0px));
  $widthMobile: calc(100vw - 25px - 25px - var(--scrollbar-width, 0px));

  & .itemWrapper {
    width: auto;
  }

  & .card {
    width: calc(($widthDesktop - 80px) * 0.333);
    height: calc(($widthDesktop - 80px) * 0.333);

    position: relative;

    overflow: hidden;
    cursor: pointer;
    user-select: none;

    border-radius: 15px;
    border: none;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 1024px) {
      width: calc(($widthDesktop - 40px) * 0.333);
      height: calc(($widthDesktop - 40px) * 0.333);
    }

    @media screen and (max-width: 786px) {
      border-radius: 10px;
      width: calc(($widthMobile - 20px) * 0.333);
      height: calc(($widthMobile - 20px) * 0.333);
    }

    @media screen and (max-width: 320px) {
      border-radius: 10px;
      width: calc($widthMobile);
      height: calc($widthMobile);
    }

    & > span {
      position: absolute;

      line-height: calc($widthDesktop * 0.06125);
      bottom: calc($widthDesktop * 0.030625);
      left: calc($widthDesktop * 0.091875);

      color: #ffffff;
      font-size: 46px;
      font-weight: 400;

      transform-origin: left;
      letter-spacing: 0.1em;

      @media screen and (max-width: 1280px) {
        font-size: 37px;
      }

      @media screen and (max-width: 768px) {
        font-size: 16px;

        line-height: calc($widthMobile * 0.06125);
        bottom: calc($widthMobile * 0.06125);
        left: calc($widthMobile * 0.091875);
      }
    }

    & > .square {
      position: absolute;
      bottom: calc($widthDesktop * 0.030625);
      left: 0;

      width: calc($widthDesktop * 0.06125);
      height: calc($widthDesktop * 0.06125);

      background-color: #f20530;

      @media screen and (max-width: 768px) {
        bottom: calc($widthMobile * 0.06125);

        width: calc($widthMobile * 0.06125);
        height: calc($widthMobile * 0.06125);
      }
    }
  }
}
