.wrapper {
  display: flex;

  gap: 90px;

  justify-content: space-between;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    gap: 26px;
  }
}

.openBtns {
  display: none;

  @media screen and (max-width: 1280px) {
    display: flex;
  }

  & > .filterBtn {
    padding: 6px 28px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    outline: none;
    border: none;

    cursor: pointer;

    background: transparent;

    & > p {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;

      color: #f20530;
    }
  }

  & > .sortBtn {
    padding: 6px 28px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 10px;

    outline: none;
    border: none;

    cursor: pointer;

    background: transparent;

    & > p {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;

      color: #f20530;
    }
  }

  & > .active {
    background: #f20530;

    & > p {
      color: #ffffff;
    }
  }
}

.filter {
  width: 250px;

  @media screen and (max-width: 1280px) {
    display: none;
  }

  &Open {
    @media screen and (max-width: 1280px) {
      display: block;
      position: fixed;

      width: 310px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;

      padding: 28px 25px;

      background: #fff;
    }
  }

  &Header {
    display: none;

    padding-bottom: 33px;

    @media screen and (max-width: 1280px) {
      width: 100%;

      display: flex;
      justify-content: space-between;
    }

    & > h1 {
      font-size: 20px;
      line-height: 25px;

      color: #727272;
    }

    & > .closeBtn {
      display: none;

      @media screen and (max-width: 1280px) {
        display: block;

        outline: none;
        border: none;
        background: transparent;

        cursor: pointer;
      }
    }
  }

  & > .filterItem {
    & > .title {
      & > .subtitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 8px;

        @media screen and (max-width: 1280px) {
          display: none;
        }

        & > hr {
          width: 32px;
          margin: 0;

          border: 1px solid #f20530;
        }

        & > p {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;

          color: #f20530;
        }
      }

      & > h1 {
        font-size: 24px;
        line-height: 30px;

        color: #000000;

        @media screen and (max-width: 1280px) {
          font-size: 16px;
          line-height: 20px;

          color: #f20530;
        }
      }
    }

    & > .content {
      padding: 45px 0;

      @media screen and (max-width: 1280px) {
        padding: 20px 0;
      }

      & > ul {
        & > li {
          padding-bottom: 20px;

          @media screen and (max-width: 1280px) {
            padding-bottom: 16px;
          }

          & > .mainCategory {
            display: flex;
            align-items: center;

            cursor: pointer;

            & > .icon {
              width: 20px;
              display: flex;
              justify-content: center;
              margin-right: 22px;

              @media screen and (max-width: 1280px) {
                display: none;
              }
            }

            & > p {
              font-size: 20px;
              line-height: 25px;

              color: #727272;

              @media screen and (max-width: 1280px) {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
              }
            }

            & > .dropdown {
              margin-left: 5px;
              transform: rotate(180deg);
              transition: 0.5s;
            }
          }

          & > .subCategories {
            display: flex;
            flex-direction: column;
            gap: 8px;

            max-height: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            transition-delay: 0.3s;

            & > li {
              display: flex;
              align-items: center;
              gap: 16px;

              & > label {
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;

                color: #727272;
              }
            }
          }

          &.active {
            & > .mainCategory {
              padding-bottom: 15px;
              & .dropdown {
                transform: rotate(0deg);
              }
            }

            & > .subCategories {
              max-height: 500px;
            }
          }
        }
      }
    }

    &.price {
      & > .content {
        & > .range {
          padding-top: 35px;
          display: flex;
          gap: 20px;

          padding-right: 10px;

          & > input {
            border: 0.5px solid #727272;
            border-radius: 10px;

            text-align: center;

            max-width: calc(50% - 10px);
            padding: 12px;

            font-weight: 300;
            font-size: 16px;
            line-height: 20px;

            color: #727272;

            outline: none;
          }
        }
      }
    }
  }

  & > .submitBtn {
    @media screen and (min-width: 1280px) {
      display: none;
    }

    width: 100%;

    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #ffffff;
    background-color: #f20530;
    padding: 13px;

    border: none;
    outline: none;
    border-radius: 12px;

    cursor: pointer;
  }
}

.main {
  max-width: 1100px;
  width: calc(100% - 250px - 90px);

  @media screen and (max-width: 1280px) {
    width: 100%;
  }

  & > .ordering {
    display: flex;
    justify-content: space-between;
    width: 100%;

    gap: 50px;

    padding-bottom: 65px;

    @media screen and (max-width: 1280px) {
      gap: 0;
      padding-bottom: 25px;
    }

    & > .categories {
      display: flex;
      column-gap: 25px;

      max-width: calc(100% - 215px);

      @media screen and (max-width: 1280px) {
        max-width: 100%;
      }

      @media screen and (max-width: 768px) {
        column-gap: 10px;
      }
      overflow: hidden;
      overflow-x: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      scroll-behavior: smooth;
      cursor: grab;
    }

    & > .sort {
      position: relative;

      @media screen and (max-width: 1280px) {
        position: unset;
      }

      & > button {
        border: 1px solid #f20530;
        border-radius: 45px;
        padding: 13px 20px;

        width: 214px;

        background: transparent;

        font-weight: 300;
        font-size: 16px;
        line-height: 20px;

        color: #f20530;

        cursor: pointer;

        @media screen and (max-width: 1280px) {
          display: none;
        }

        & > span {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      & > ul {
        display: none;

        z-index: 2;
      }

      &.sortOpen {
        & > ul {
          position: absolute;

          width: 214px;

          top: 52px;

          display: flex;
          flex-direction: column;
          gap: 16px;

          background: #f5f6f6;

          border: 0.5px solid #888b97;
          border-radius: 25px;

          padding: 20px 16px;

          @media screen and (max-width: 1280px) {
            position: fixed;
            left: 0;
            top: 0;
            width: 310px;

            height: 100%;

            border-radius: 0;
            border: none;

            background-color: #ffffff;

            padding: 28px 25px;
          }

          & > .sortHeader {
            display: none;

            padding-bottom: 33px;

            @media screen and (max-width: 1280px) {
              width: 100%;

              display: flex;
              justify-content: space-between;
            }

            & > h1 {
              font-size: 20px;
              line-height: 25px;

              color: #727272;
            }

            & > .closeBtn {
              display: none;

              @media screen and (max-width: 1280px) {
                display: block;

                outline: none;
                border: none;
                background: transparent;

                cursor: pointer;
              }
            }
          }

          & > li {
            user-select: none;
            cursor: pointer;

            color: #727272;
            font-weight: 300;

            & > a {
              font-size: 16px;
              line-height: 20px;

              text-decoration: none;
            }

            &.active {
              color: #f20530;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  & > .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .photo {
      $width: calc(100vw - 12vw - 12vw - 250px - 90px);

      width: calc($width * 0.333 - 26px);
      height: calc(($width * 0.333 - 26px) * 0.75);

      @media screen and (max-width: 1280px) {
        $width: calc(100vw - 12vw - 12vw);

        width: calc($width * 0.333 - 26px);
        height: calc(($width * 0.333 - 26px) * 0.75);
      }

      @media screen and (max-width: 1024px) {
        $width: calc(100vw - 12vw - 12vw);

        width: calc($width * 0.5 - 20px);
        height: calc(($width * 0.5 - 20px) * 0.75);
      }

      @media screen and (max-width: 768px) {
        $width: calc(100vw - 25px - 25px);

        width: calc($width * 0.333 - 10px);
        height: calc(($width * 0.333 - 10px) * 0.75);
      }

      @media screen and (max-width: 480px) {
        $width: calc(100vw - 25px - 25px);

        width: calc($width * 0.5 - 10px);
        height: calc(($width * 0.5 - 10px) * 0.75);
      }
    }
  }

  & > .pagination {
    width: 100%;

    display: flex;
    justify-content: center;
    column-gap: 15px;

    padding-top: 50px;

    @media screen and (max-width: 768px) {
      column-gap: 12px;

      padding-top: 34px;
    }

    & > .pageBtn {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;

      text-decoration: none;
      text-align: center;

      border-radius: 15px;
      border: 1.5px solid #9e9e9e;

      color: #9e9e9e;

      font-size: 24px;
      line-height: 32px;

      @media screen and (max-width: 768px) {
        width: 32px;
        height: 32px;

        border-radius: 12px;
        border: 1px solid #9e9e9e;

        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
      }

      &.current {
        background: #f20530;
        border: none;
        color: #fff;
      }
    }
  }
}
