.container {
  background-color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 38px 220px;

  @media screen and (max-width: 768px) {
    padding: 15px 26px;
  }

  & > hr {
    border: 1px solid #f20530;
    background-color: #f20530;

    width: 32px;

    @media screen and (max-width: 768px) {
      width: 27px;
    }
  }

  & > p {
    color: #f20530;

    text-transform: capitalize;

    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    @media screen and (max-width: 768px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  & > h1 {
    color: #333333;

    font-weight: 500;
    font-size: 40px;
    line-height: 50px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
