.rangeSlider {
  border: none;
  box-shadow: none;
  padding: 0 10px;
}

.rangeSlider .bar-right,
.rangeSlider .bar-left {
  box-shadow: none;
  background-color: #dddddd;
}

.rangeSlider .bar-inner {
  background-color: #f20530;
  border: none;
  box-shadow: none;
}

.rangeSlider .thumb,
.rangeSlider .thumb::before {
  border: none;
  box-shadow: none;
  background-color: #f20530;
  top: 1px;
}

.rangeSlider .bar-inner-left,
.rangeSlider .bar-inner-right {
  border: none;
  box-shadow: none;
  background-color: #f20530;
}

.rangeSlider .caption span {
  display: none;
}

@media screen and (max-width: 1280px) {

  .rangeSlider .bar,
  .rangeSlider .bar-inner,
  .rangeSlider .bar-inner-left,
  .rangeSlider .bar-inner-right,
  .rangeSlider .bar-left,
  .rangeSlider .bar-right {
    height: 3px;
    padding: 0;
  }

  .rangeSlider .thumb::before {
    box-shadow: none;
    background-color: #ffffff;
    border: 3px solid #f20530;
    width: 6px;
    height: 6px;
    top: 3px;
  }


  .rangeSlider .thumb {
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
}