.product {
  display: flex;
  column-gap: 85px;

  flex-wrap: wrap;

  & > .photo {
    width: 500px;
    height: 565px;

    border-radius: 25px;
    overflow: hidden;

    $width: calc(100vw - 12vw - 12vw);

    @media screen and (max-width: 1024px) {
      width: $width;
      height: calc($width * 565px / 500px);
    }

    $width: calc(100vw - 25px - 25px);

    @media screen and (max-width: 768px) {
      width: $width;
      height: calc($width * 565px / 500px);
    }
  }

  & > .details {
    max-width: calc(100% - 500px - 85px);

    @media screen and (max-width: 1024px) {
      max-width: 100%;
    }

    & > .price {
      display: flex;
      align-items: center;
      column-gap: 20px;

      padding-top: 30px;

      & > .oldPrice {
        font-size: 22px;
        line-height: 28px;

        font-weight: 300;

        color: #b8b8b8;
        text-align: center;
        text-decoration: line-through;

        @media screen and (max-width: 768px) {
          font-size: 17px;
          line-height: 21px;
        }
      }

      & > .currentPrice {
        font-size: 27px;
        line-height: 34px;

        font-weight: 600;

        color: #363636;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 21px;
          line-height: 26px;
        }
      }

      & > .discount {
        font-size: 21px;
        line-height: 26px;

        color: #fff;
        text-align: center;

        padding: 3px 24px;

        border-radius: 6px;

        background: #f20530;

        @media screen and (max-width: 768px) {
          border-radius: 10px;

          padding: 2px 29px;

          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    & > .title {
      font-size: 32px;
      line-height: 32px;

      font-weight: 500;
      color: #363636;

      padding: 40px 0 10px 0;

      @media screen and (max-width: 768px) {
        font-size: 26px;
      }
    }

    & > .description {
      font-size: 20px;
      line-height: 171%;

      word-break: break-word;

      font-weight: 300;
      color: #7e7e7e;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }
  }
}
