.header {
  background-color: #f5f6f6;
  padding: 30px 0;

  @media screen and (max-width: 1360px) {
    padding: 26px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;

  padding-bottom: 0;
  padding-top: 0;
}

.openBtn {
  display: none;

  @media screen and (max-width: 1360px) {
    display: block;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 24px;
  }
}

.logo {
  max-width: 76px;

  @media screen and (max-width: 768px) {
    max-width: 40px;
  }
}

.nav {
  @media screen and (max-width: 1360px) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.75);
    z-index: 2;
  }

  &Open {
    @media screen and (max-width: 1360px) {
      display: block;
    }
  }

  &Header {
    display: none;

    @media screen and (max-width: 1360px) {
      display: flex;

      & .navLogo {
        max-width: 40px;
      }
    }
  }

  &Footer {
    display: none;
    justify-content: flex-start !important;

    gap: 40px;

    & > a {
      width: auto !important;
    }
  }

  & > ul {
    display: flex;
    gap: 40px;
    align-items: center;

    @media screen and (max-width: 1360px) {
      width: 310px;
      height: 100%;

      flex-direction: column;
      gap: 26px;

      background: #fff;
      padding: 11px 26px;
    }

    & > li {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      color: #585858;

      @media screen and (max-width: 1360px) {
        width: 100%;

        display: flex;
        justify-content: space-between;

        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }

      & > a {
        display: flex;
        text-align: center;

        color: inherit;
        text-decoration: none;

        @media screen and (max-width: 1360px) {
          width: 100%;
          justify-content: space-between;
        }

        & img {
          @media screen and (min-width: 1360px) {
            display: none;
          }
        }

        &.active {
          font-weight: 400;

          color: #f20530;
        }
      }

      & .closeBtn {
        @media screen and (min-width: 1360px) {
          display: none;
        }

        display: block;

        outline: none;
        border: none;
        background: transparent;

        cursor: pointer;
      }
    }
  }
}

.search {
  position: relative;
  width: auto;
  z-index: 1;

  @media screen and (max-width: 1650px) {
    width: 24px;
    position: unset;
  }

  & > .searchIcon {
    position: absolute;

    width: 21px;
    height: 21px;

    left: 20px;
    top: 13px;

    @media screen and (max-width: 1650px) {
      position: relative;
      left: 0;
      top: 0;
      cursor: pointer;
      z-index: 1;
    }
  }

  & > .closeSearch {
    display: none;
  }

  & > input {
    width: 100%;

    padding: 13px 20px 13px 58px;

    border-radius: 10px;
    border: none;

    background: #f8f8f8;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.05);

    font-weight: 200;
    font-size: 16px;
    line-height: 20px;

    color: #3a3a3a;

    @media screen and (max-width: 1650px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      padding: 20px;

      font-size: 14px;
      line-height: 18px;
    }

    &:focus {
      outline: none;
    }
  }

  &.openSearch {
    @media screen and (max-width: 1650px) {
      display: block;

      width: calc(100% - 50px - 50px);
      height: auto;

      position: absolute;
      top: 0;
      left: 0;

      margin: 50px;
    }

    & > input {
      @media screen and (max-width: 1650px) {
        display: block;
        width: 100%;

        border: 1px solid #e5e5e5;
      }

      @media screen and (max-width: 480px) {
        width: calc(100% - 25px - 25px);
        margin: 25px;
      }
    }

    & > .searchIcon {
      @media screen and (max-width: 1650px) {
        display: none;
      }
    }

    & > .closeSearch {
      @media screen and (max-width: 1650px) {
        display: block;
        position: absolute;
        top: 50%;
        left: calc(100% - 50px);
        transform: translateY(-50%);

        width: 24px;
        height: 24px;

        cursor: pointer;
      }

      @media screen and (max-width: 480px) {
        left: calc(100% - 75px);
      }
    }
  }
}
