.footer {
  background-color: #f5f6f6;
}

.widgetSection {
  display: flex;
  justify-content: space-between;
}

.widget {
  padding: 40px 0;
  &.appBox {
    & > h2 {
      font-size: 16px;
      line-height: 20px;
    }
    & div > ul > li {
      display: flex;
      gap: 16px;
    }
  }
}

.title {
  font-size: 20px;
  line-height: 25px;

  color: #333333;
}

.content {
  padding-top: 17px;
  & > ul {
    & > li {
      padding-bottom: 9px;
      font-size: 16px;
      line-height: 20px;

      color: #666666;

      & > a {
        color: inherit;
        text-decoration: none;
      }
      & > span {
        color: inherit;
      }
    }
  }
}

.footnote {
  display: flex;
  gap: 120px;
  & > .copyright {
    display: flex;
    gap: 9px;
    align-items: center;
  }
  & > .social {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
